body {
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	display: grid;
	grid-template-columns: 18vh 18vh 18vh 18vh;
	grid-template-rows: 16vh 16vh 16vh 16vh 16vh 16vh;
	justify-content: center;
}

.container .number:active {
	background-color: grey;
}


#display {
	grid-column: 1/5;
	display: grid;
	color: white;
	background-color: rgb(73, 73, 73);
	border: 0.1px solid black;
	justify-items: right;
	align-items: center;
	padding-right: 15px;
	font-size: 45px;
}

#clear {
	grid-column: 1/4;
	display: grid;
	color: white;
	background-color: gray;
	border: 0.1px solid black;
	justify-items: center;
	align-items: center;
}

#clear:active {
	background-color: rgb(73,73,73);
}

#zero {
	grid-column: 1/4;
	display: grid;
	color: white;
	background-color: darkgray;
	border: 0.1px solid black;
	justify-items: center;
	align-items: center;
}

#zero:active {
	background-color: grey;
}

.number {
	display: grid;
	color: white;
	background-color: darkgray;
	border: 0.1px solid black;
	justify-items: center;
	align-items: center;
}

.operator {
	display: grid;
	color: white;
	background-color: orange;
	border: 0.1px solid black;
	justify-items: center;
	align-items: center;
}

.operator:active {
	background-color: rgb(201, 131, 0);
}

#equals {
	display: grid;
	color: white;
	background-color: orange;
	border: 0.1px solid black;
	justify-items: center;
	align-items: center;
}

#equals:active {
	background-color: rgb(201, 131, 0);
}